@tailwind base;
@tailwind components;
@tailwind utilities;

.fp-watermark {
  display: none !important;
}

.splide--nav {
  margin-top: 1rem;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.splide--nav {
  margin-top: 1rem;
}

.splide__arrow {
  background-color: #ccc;
}

.splide__pagination__page {
  background-color: #423AC2;
}

.splide__pagination__page.is-active {
  background-color: #D72254;
}
